<nav class="navbar navbar-dark bg-dark">
  <a href="#">Matches</a>
  <a href="#">Lists</a>
  <a href="#">Messages</a>
  <a href="#" (click)="logout()">Log Out</a>

  <div *ngIf="loggedIn()" class="dropdown">
      <a class=" dropdown-toggle text-light">
        Welcome User!
      </a>
    
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#"><i class="fa fa-user"></i>Edit Profile</a>
<div class="dropdown-divider">
  
</div>        <a class="dropdown-item" href="#"><i class="fa fa-sign-out"></i>Logout</a>
      </div>
    </div>

<form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
  <input required name="username" type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Username" [(ngModel)]="model.username" >
  <input required name="password" type="password" class="form-control mb-2" id="inlineFormInput" placeholder="Password" [(ngModel)]="model.password">
  <input [disabled]="!loginForm.valid" type="submit" class="btn btn-primary">
</form>
</nav>